{% extends 'base.html' %}

{% load static %}

{% block title %}500. Erro interno inesperado{% endblock title %}

{% block content %}
<!-- OVERVIEW -->
<div class="row">
    <div class="container">
        <h1>500</h1>
        <h2>Erro interno inesperado</h2>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p>Desculpe. Ocorreu um erro inesperado.</p>
            <p>Nossa equipe já foi notificada do problema.</p>
        </div>

    </div>
</div>
<!-- OVERVIEW -->
{% endblock content %}